*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1010;
}

.calculator{
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 50px;
}

.display{
    width: 90%;
    height: 25%;
    margin: 20px auto;
    background-color: #e6e6e6;
    border-radius: 30px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    font-size: 2em;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.buttons{
    width: 90%;
    height: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}

.button{
    background-color: #f2f2f2;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    box-shadow: 0 4px #999;
    cursor: pointer;
    transition: all 0.2s;
}






